  .joinUsHeaderImg {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-size: 100% 100%;
    background-image: url(../assets/imgs/joinUsBg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
    padding-top: 150px;

    @media screen and (max-width: 480px) {
      padding-top: 60px;
      height: 100px;
      font-size: 10px;
    }
  }

  .aboutHeaderImg {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-size: 100% 100%;
    background-image: url(../assets/imgs/aboutBg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
    padding-top: 150px;

    @media screen and (max-width: 480px) {
      padding-top: 60px;
      height: 100px;
      font-size: 10px;
    }
  }

  .contractUsHeaderImg {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    background-size: 100% 100%;
    background-image: url(../assets/imgs/contractUs.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 400px;
    padding-top: 150px;

    @media screen and (max-width: 480px) {
      padding-top: 60px;
      height: 100px;
      font-size: 10px;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .staticHeaderHeader1 {
    font-size: 100px;
    margin-top: 30px;

    @media screen and (max-width: 480px) {
      padding: 5px;
      font-size: 15px;
    }
  }

  div {
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 21px;
    color: #909399;
    font-weight: 400;
    line-height: 1.5em;
    word-break: break-all;
    /*支持IE，chrome，FF不支持*/
    word-wrap: break-word;
    /*支持IE，chrome，FF*/
    overflow: hidden;

    @media screen and (max-width: 480px) {
      font-size: 10px;
      line-height: 1.2em;
    }
  }

  .img {
    max-width: 100%;
    width: auto;
    height: auto;

    @media screen and (max-width: 480px) {
      
    }
  }